<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBC1TIECBskdU75migl6qXjL9jmsYn6KJo</string>
	<key>GCM_SENDER_ID</key>
	<string>684140575613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kumadev.CafeTool</string>
	<key>PROJECT_ID</key>
	<string>cafe-tool-5fcf0</string>
	<key>STORAGE_BUCKET</key>
	<string>cafe-tool-5fcf0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:684140575613:ios:44837c2020d099c12daa14</string>
</dict>
</plist>
